asgiref==3.11.0
atomicwrites==1.4.1
attrs==25.4.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
coreapi==2.3.3
coreschema==0.0.4
cryptography==46.0.3
defusedxml==0.7.1
Django==4.2.27
django-appconf==1.2.0
django-filter==23.1
django-imagekit==6.0.0
django-templated-mail==1.1.1
djangorestframework==3.16.1
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
drf-yasg==1.21.14
idna==3.11
inflection==0.5.1
iniconfig==2.1.0
itypes==1.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
oauthlib==3.3.1
packaging==26.0
pilkit==3.0
Pillow==9.0.0
pluggy==1.0.0.dev0
psycopg2-binary==2.9.3
py==1.11.0
pycparser==2.23
PyJWT==2.10.1
pytest==6.2.4
pytest-django==4.4.0
pytest-lazy-fixture==0.6.3
pytest-pythonpath==0.7.3
python-decouple==3.8
python-dotenv==1.1.0
python3-openid==3.2.0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
requests-oauthlib==2.0.0
six==1.17.0
social-auth-app-django==4.0.0
social-auth-core==4.7.0
sqlparse==0.5.5
toml==0.10.2
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
webcolors==1.11.1

